body {
    background-color: #b7b7bc;
}

h1{
	font-style: bold;
	text-align: center;
	font-family: Verdana;
}
h2{
	font-family: Verdana;

}
.center{
	text-align: center;
}

#image{
	width:350px;
	height:300px;
}



