body {
    background-image: url("blue-gradient-background-2.jpg");
}

h1{
	font-style: bold;
	text-align: center;
	font-family: Verdana;
}
h2{
	font-family: Verdana;

}
.center{
	text-align: center;
}

.button{
	border-radius: 4px;
	width: 70px;
	height: 30px;
	background-color: white;
	color: black
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:pointer;
    /*border: 2px solid #555555;*/
}

.button:hover {
   background-color: #555555;
   color: white;
}
#image{
	width:250px;
	height:200px;
}

#title{
	text-align: center;
	width:400px;
	height:150px;
}



